p {
    text-align: left;
}

ul {
    list-style-type: none;
}

main {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
}

header {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: auto;
}

h2 {
    color: #006EB6;
}

body {
    background-color: #333;
    color: white;
}

img {
    width: 150px;
    margin:auto;
}

.dark h2 {
    color: #4F9ACF;
}